@using DebtSettlement.BusinessLayer
@{
    Layout = null;
}

<nav id="mainNavigationMenu" class="navbar navbar-default">
    <div class="">
        <ul class="nav nav-pills nav-stacked filters">
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my")" class="text-primary tasks-list-filter">
                    <strong>Мои заявки</strong>
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#")" class="tasks-list-filter">
                    <span class="glyphicon glyphicon glyphicon-list-alt"></span>
                    &nbsp; Мои процессы
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    &nbsp; В работе
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-inbox"></span>
                    &nbsp; Архив
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'Open' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="	glyphicon glyphicon-th"></span>
                    &nbsp; Процессы группы
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my")" class="text-primary tasks-list-filter">
                    <strong>Заявки группы</strong>
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    &nbsp; В работе
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-inbox"></span>
                    &nbsp; Архив
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my")" class="text-primary tasks-list-filter">
                    <strong>Все заявки</strong>
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/task/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-briefcase"></span>
                    &nbsp; В работе
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-inbox"></span>
                    &nbsp; Архив
                </a>
            </li>
            <li>
                <a href="@Url.Content("~/DebtSettlements/list#my?$filter=Status eq 'InProgress' and Responsible eq ::username")" class="sublink tasks-list-filter">
                    <span class="glyphicon glyphicon-asterisk"></span>
                    &nbsp; Все процессы
                </a>
            </li>
            
        </ul>
    </div>
</nav>