@using AlfaCollection.Resources.Messages
@using AlfaCollection.Resources.Labels

@{
    ViewBag.Title = " Not found";
}

<div class="container">
    <div class="row row-offsets">
        <div class="col-sm-6">
            <div class="alert alert-danger">
                <h2>@Messages.ErrorNotFoundHeader</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">
                @Html.Raw(@Messages.ErrorNotFoundMessage)
            </div>
        </div>
    </div>

    <div class="row row-offsets">
        <div class="col-sm-12">
            <div class="text-center">
                @Html.ActionLink(@Labels.GeneralReferenceHomePageText, "Index", "Application", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</div>